/*@font-face {
  font-family: 'Couture';
  src:url('couture-bld.otf');}*/

  body {
    margin: 0;
    /*font-family: 'couture';*/
    color: #AFAC9A;
    font-size: 0.8em;
    font-weight: bold;
  }

h2 {
  color: #211F1B;
}

h1 {
  color: #211F1B;
}

header {
  color: #AFAC9A;
}

header img {
  float: left;
  height: 100px;
  margin: 0px 50px;
  position: relative;
  left: 125px;
}

ul {
    list-style-type: none;
    margin-top: 25px;
    padding-top: 15px;
    margin-left: 450px;
  }

li {
    display: inline-block;
    height: 60px;
    margin: 5px 15px;
    padding: 15px 5px;
}

li a:link {
  color: #AFAC9A;
  text-decoration: none;
}
li a:hover {
  color: #211F1B;
  text-decoration: none;
}

li.hover a:link {
  padding: 5px 15px;
  color: #2BBF77;
  border: solid 2px #2BBF77;
  text-decoration: none;
  border-radius: 5px;
}
li.hover  a:hover {
  padding: 5px 15px;
  color: #FFF;
  background-color: #2BBF77;
  text-decoration: none;
}



.panel1 {
  background-image: url('photo.jpg');
  background-size: cover;
  height: 450px;
  padding: 50px 25px;
}
.raise {
  background-color: #FFF;
  width: 350px;
  height: 400px;
  margin-right: 850px;
  margin-left: 150px;
}

.top p {
  display: inline-block;
  margin-left: 15px;
  margin-top: 35px;
}

.feat {
  color: #FFF;
  background-color: #1D3033;
  border-radius: 5px;
  padding: 5px;
}

.days {
padding-top: 10px;
float: right;
margin-right: 15px;
}

.raise .txt {
  text-align: left;
  margin: 15px 15px;
}
.raise .txt h2 {
  color: #1D3033;
}

.money {
  border-top: solid 1px #CDCDCD;
  margin: 0px 10px;
}

.money div {
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  margin-left: 15px;
  height: 85px;
}

.gain {
  font-size: 10px;
}
.goal {
  font-size: 10px;
  border-left: solid 1px #CDCDCD;
}
.gainnbr {
  color: #2BBF77;
  font-size: 25px;
}
.goalnbr {
  font-size: 25px;
}

.btn  a:link{
  position: relative;
  border-radius: 5px;
  left: 85px;
  top: 30px;
  padding: 15px 50px;
  color: #FFF;
  background-color: #2BBF77;
  text-decoration: none;
}
.btn  a:hover{
  position: relative;
  border-radius: 5px;
  left: 85px;
  top: 30px;
  padding: 15px 50px;
  color: #2BBF77;
  background-color: #FFF;
  border: solid 2px #2BBF77;
  text-decoration: none;
}

.txt {
  text-align: center;
}

.txt h1 {
  color: #FFF;
  background-color: #CDCDCD;
  border-radius: 5px;
  margin: 0px 550px;
  margin-top: 50px;
  font-size: 15px;
}

.help {
  color: #1D3033;
  font-weight: bold;
  width: 650px;
  margin: auto;
  font-size: 15px;
  padding-top: 10px;
}

.txt2{
  text-align: center;
  width: 350px;
  display: inline-block;
  margin: 75px 45px;
}

.panel2 img {
  border: solid 2px #CDCDCD;
  padding: 15px;
}
.panel2 h2 {
  padding-top: 25px;
}
